<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <% for(var i=0; i<subjects.length; i++) {%>
            <h1>Data <%= subjects[i].branch%></h1>
            <li> subjects are ===========> <%= subjects[i].subject %></li>
            <br>
            <button>Update</button>
            
            <a href="/delete<%= subjects[i].id%>"><button>Delete</button></a>
                <% } %>
            </ul>
</body>
</html>